---
layout: default
---
<div>
    <section>
        <h3><a id="Contact_Me" class="anchor" href="#Contact_Me" aria-hidden="true"><span class="octicon octicon-link"></span></a>Contact Me</h3>
            <p><a href='&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#109;&#97;&#116;&#116;&#64;&#109;&#114;&#121;&#97;&#110;&#108;&#97;&#109;&#46;&#99;&#111;&#109;'>&#109;&#97;&#116;&#116;&#64;&#109;&#114;&#121;&#97;&#110;&#108;&#97;&#109;&#46;&#99;&#111;&#109;</a></p>

            <p class="view">
                <a href="https://github.com/mryanlam"><img border="0" alt="Github Icon" src="static/GitHub-Mark-32px.png" width="32" height="32">View My GitHub Profile</a>
            </p>
            <p class="view">
                <a href="http://www.linkedin.com/in/mryanlam"><img border="0" alt="LinkedIn Icon" src="static/In-2C-34px-R.png" width="34" height="32">View my LinkedIn Profile</a>
            </p>
            <p class="view">
                <a href="https://objectstorage.us-phoenix-1.oraclecloud.com/p/9zSOm_Gk-v0hyUJWbfeq2iiBcuZ4iZE4xR71u8UhhQCEcJ6E8cZJFHppxM7Ao9aI/n/axlhfpsumuyq/b/mbucket/o/MatthewLamResume.pdf"><img border="0" alt="PDF Icon" src="static/Adobe_PDF_file_icon_32x32.png" width="32" height="32">View my Resume</a>
            </p>
        </section>
</div>
<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">
      <a href="{{ site.baseurl }}{{ post.url }}">
        <h1>{{ post.title }}</h1>

        <div>
          <p class="post_date">{{ post.date | date: "%B %e, %Y" }}</p>
        </div>
      </a>
      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}

  <!-- pagination -->
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
      <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <span class="webjeda">{{ page }}</span>
      {% elsif page == 1 %}
        <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
      <span>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</div>
